/*NAVBAR*/
.bg-dark {
    background-color: #002663 !important;
}
nav img{
    width: 50px;
    padding-bottom: 0px;
}

/*body*/
body {
    background-color: #4a4a4a;
}
.col-12.content{
    background-color: white;
    margin-top: 25px;
    border-radius: 15px;
    color: black;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 40px;
    padding-left: 40px;
    font-family: 'Montserrat', sans-serif;
}
h3{
    margin-bottom: 18px;
}

.btn{
    background-color: #002663;
}
.btn-option{
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 15px;
    padding-bottom: 15px;
}
.form-header{
    margin-bottom: 15px;
}
input{
    width: 80px !important;
}
.inline-input{
    padding-left: 40px;
}
#unitDropdown{
    margin-left: 10px;
    width: 300px;
}
.form-check-label{
    margin-left: 33px;
}